
<!DOCTYPE html>
<html>
  <head>
    <title>Mctheme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="page">
      <div class="header">
        <a href="#menu"><span></span></a>
        Demo
      </div>
      <div class="content">
        <p><strong>This is an advanced demo.</strong><br />
          Click the menu icon to open the menu.</p>
          <%= yield %>
      </div>
    </div>
    <%= render 'layouts/main_menu' %>
  </body>
</html>
